.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.judul {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}

/* src/components/RestaurantCard.css */
.restaurant-container {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 10px;
  margin: 0 auto;
  width: 80%;
  line-height: 0px;
  text-align: center; */
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 20px;
}

.restaurant-card {
  text-align: left;
  padding: 6px;
}
.namaResto {
  text-align: left;
  font-weight: 400;
  margin-left: 10px;
}
.ratingResto {
  text-align: left;
  margin-left: 10px;
  margin-top: 30px;
}
.imgResto {
  max-width: 200px;
  height: 200px;
  object-fit: cover;
}
.btn_load {
  width: 100%;
  display: flex;
  justify-content: center;
}
.jam {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: .2em;
}
.openNow input {
  margin-right: 6px;
}
.txt-food {
  width: 150px;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
